[Unit]
Description=Sentry Telegram Webhook
Documentation=https://github.com/aldy505/sentry-telegram-webhook
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=sentry_webhook
Group=sentry_webhook
ExecStart=node ./dist/main.js
ExecReload=/bin/kill -SIGHUP $MAINPID
WorkingDirectory=/etc/sentry-telegram-webhook
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
EnvironmentFile=-/etc/default/sentry-telegram-webhook
Environment="NODE_ENV=production"
Environment="NODE_OPTIONS=--use-openssl-ca --dns-result-order=ipv4first"
Restart=on-failure
RestartSec=60
TimeoutStartSec=60s
TimeoutStopSec=60s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target